body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions a {
  color: #007bff;
  text-decoration: none;
}

.actions a:hover {
  text-decoration: underline;
}
.btnCancel {
  background-color: rgb(225, 49, 49);
  color: white;
  width: 100%;
  margin-top: 30px;
}
